In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
train=pd.read_csv('../input/train.csv')
test=pd.read_csv('../input/test.csv')

In [3]:
train.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,6141,1583,144,3,2011-05-06 16:54:00,3.75,14056.0,35
1,6349,1300,3682,6,2011-05-11 07:35:00,1.95,13098.0,35
2,16783,2178,1939,4,2011-11-20 13:20:00,5.95,15044.0,35
3,16971,2115,2983,1,2011-11-22 12:07:00,0.83,15525.0,35
4,6080,1210,2886,12,2011-05-06 09:00:00,1.65,13952.0,35

In [4]:
# print(data.info())
# print(data.describe())
# print(train.info())
# print(train.describe())
# print(test.info())
# print(test.describe())

In [5]:
train['StockCode']=train['StockCode'].astype(str) + '_' + train['Description'].astype(str)
test['StockCode']=test['StockCode'].astype(str) + '_' + test['Description'].astype(str)

In [6]:
train['InvoiceDate']=pd.to_datetime(train['InvoiceDate'])
test['InvoiceDate']=pd.to_datetime(test['InvoiceDate'])

In [7]:
train.loc[:,'year']=train['InvoiceDate'].dt.year
train.loc[:,'months']=train['InvoiceDate'].dt.month
train.loc[:,'day']=train['InvoiceDate'].dt.dayofweek
train.loc[:,'hour']=train['InvoiceDate'].dt.hour
train.drop('InvoiceDate',inplace=True,axis=1)

In [8]:
test.loc[:,'year']=test['InvoiceDate'].dt.year
test.loc[:,'months']=test['InvoiceDate'].dt.month
test.loc[:,'day']=test['InvoiceDate'].dt.dayofweek
test.loc[:,'hour']=test['InvoiceDate'].dt.hour
test.drop('InvoiceDate',inplace=True,axis=1)

In [9]:
train[train['UnitPrice']>5000]

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,year,months,day,hour
140723,20237,3681_2140,2140,-1,38970.00,15098.0,35,2011,6,4,15
239556,19848,3683_2624,2624,-1,8142.75,16029.0,35,2011,5,1,12

In [10]:
train.drop(index=[140723,239556],inplace=True,axis=0)
train.drop('Description',axis=1,inplace=True)
test.drop('Description',axis=1,inplace=True)

In [11]:
# plt.figure()
# print('skew %.2f' %train['UnitPrice'].skew())
# sns.distplot(train['UnitPrice']);

In [12]:
# train['UnitPrice']=train['UnitPrice'].map(lambda i:np.log(i) if i>0 else 0)

In [13]:
# plt.figure()
# print('skew %.2f' %train['UnitPrice'].skew())
# sns.distplot(train['UnitPrice']);

In [14]:
train.head()

,InvoiceNo,StockCode,Quantity,UnitPrice,CustomerID,Country,year,months,day,hour
0,6141,1583_144,3,3.75,14056.0,35,2011,5,4,16
1,6349,1300_3682,6,1.95,13098.0,35,2011,5,2,7
2,16783,2178_1939,4,5.95,15044.0,35,2011,11,6,13
3,16971,2115_2983,1,0.83,15525.0,35,2011,11,1,12
4,6080,1210_2886,12,1.65,13952.0,35,2011,5,4,9

In [15]:
test.head()

,InvoiceNo,StockCode,Quantity,CustomerID,Country,year,months,day,hour
0,3139,1709_1079,3,16161.0,35,2011,2,1,15
1,617,510_3457,1,17341.0,35,2010,12,2,12
2,14653,604_694,36,15158.0,35,2011,10,1,13
3,8634,1478_3473,2,16033.0,35,2011,6,0,12
4,15546,3216_871,1,15351.0,35,2011,11,6,16

In [16]:
test['UnitPrice']=-100

In [17]:
data=pd.concat((train,test)).reset_index(drop=True)

In [18]:
data.head()

,InvoiceNo,StockCode,Quantity,UnitPrice,CustomerID,Country,year,months,day,hour
0,6141,1583_144,3,3.75,14056.0,35,2011,5,4,16
1,6349,1300_3682,6,1.95,13098.0,35,2011,5,2,7
2,16783,2178_1939,4,5.95,15044.0,35,2011,11,6,13
3,16971,2115_2983,1,0.83,15525.0,35,2011,11,1,12
4,6080,1210_2886,12,1.65,13952.0,35,2011,5,4,9

In [19]:
temp1=data['InvoiceNo'].value_counts().to_dict()
data['frq_inv']=data['InvoiceNo']
data['frq_inv']=data['frq_inv'].map(temp1)

In [20]:
temp2=data['CustomerID'].value_counts().to_dict()
data['frq_custo']=data['CustomerID']
data['frq_custo']=data['frq_custo'].map(temp2)

In [21]:
temp3=data['StockCode'].value_counts().to_dict()
data['frq_stock']=data['StockCode']
data['frq_stock']=data['frq_stock'].map(temp3)

In [22]:
data.head()

,InvoiceNo,StockCode,Quantity,UnitPrice,CustomerID,Country,year,months,day,hour,frq_inv,frq_custo,frq_stock
0,6141,1583_144,3,3.75,14056.0,35,2011,5,4,16,44,1128,491
1,6349,1300_3682,6,1.95,13098.0,35,2011,5,2,7,42,605,282
2,16783,2178_1939,4,5.95,15044.0,35,2011,11,6,13,66,461,475
3,16971,2115_2983,1,0.83,15525.0,35,2011,11,1,12,40,180,480
4,6080,1210_2886,12,1.65,13952.0,35,2011,5,4,9,44,138,156

In [23]:
test_upd=data[data['UnitPrice']==-100]
train_upd=data[data['UnitPrice']!=-100]

In [24]:
train_upd.to_csv('../input/train_upd.csv',index=False)
test_upd.to_csv('../input/test_upd.csv',index=False)

In [25]:
train_upd.head()

,InvoiceNo,StockCode,Quantity,UnitPrice,CustomerID,Country,year,months,day,hour,frq_inv,frq_custo,frq_stock
0,6141,1583_144,3,3.75,14056.0,35,2011,5,4,16,44,1128,491
1,6349,1300_3682,6,1.95,13098.0,35,2011,5,2,7,42,605,282
2,16783,2178_1939,4,5.95,15044.0,35,2011,11,6,13,66,461,475
3,16971,2115_2983,1,0.83,15525.0,35,2011,11,1,12,40,180,480
4,6080,1210_2886,12,1.65,13952.0,35,2011,5,4,9,44,138,156

In [26]:
sum(train_upd.UnitPrice>10)

8194

In [27]:
import tensorflow as tf
from keras.models import Sequential
from keras.layers import Dense, Activation, Reshape, Embedding,Concatenate


import pandas as pd 
from keras.models import Model
from keras.layers import Input, Dense, Concatenate, Reshape, Dropout
from keras.layers.embeddings import Embedding
import numpy as np
from sklearn.model_selection import StratifiedKFold
from  sklearn.utils import shuffle 
from sklearn.model_selection import train_test_split
from keras.models import model_from_json

from keras.models import load_model
from keras.callbacks import ModelCheckpoint
import keras.objectives
from keras.callbacks import CSVLogger

Using TensorFlow backend.

In [28]:
import pandas as pd
from sklearn import preprocessing
# read training data
train = pd.read_csv("../input/train_upd.csv")
test = pd.read_csv("../input/test_upd.csv")

In [29]:
train.head()

,InvoiceNo,StockCode,Quantity,UnitPrice,CustomerID,Country,year,months,day,hour,frq_inv,frq_custo,frq_stock
0,6141,1583_144,3,3.75,14056.0,35,2011,5,4,16,44,1128,491
1,6349,1300_3682,6,1.95,13098.0,35,2011,5,2,7,42,605,282
2,16783,2178_1939,4,5.95,15044.0,35,2011,11,6,13,66,461,475
3,16971,2115_2983,1,0.83,15525.0,35,2011,11,1,12,40,180,480
4,6080,1210_2886,12,1.65,13952.0,35,2011,5,4,9,44,138,156

In [30]:
# concatenate both training and test data
data = pd.concat([train, test]).reset_index(drop=True)
cat_col=[feat for feat in train.columns if feat not in ['UnitPrice']]

In [31]:
# for feat in cat_col:
#     if feat !='Quantity':
#         data.loc[data[feat].map(data[feat].value_counts())<5,feat]='rare'

In [32]:
# for feat in cat_col:
#     print(data[feat].value_counts())

In [33]:
for feat in cat_col:
    lbl_enc = preprocessing.LabelEncoder()
    temp_col = data[feat].fillna("NONE").astype(str).values
    data.loc[:, feat] = lbl_enc.fit_transform(temp_col)
train2= data[data.UnitPrice != -100].reset_index(drop=True)
test2 = data[data.UnitPrice == -100].reset_index(drop=True)

In [34]:
# from sklearn.model_selection import KFold
# train2['kfold']=-1

# kf=KFold(n_splits=10,shuffle=True,random_state=42)
# for fold,(trn,vld) in enumerate(kf.split(train2)):
#     train2.loc[vld,'kfold']=fold

In [35]:
train2.head()

,InvoiceNo,StockCode,Quantity,UnitPrice,CustomerID,Country,year,months,day,hour,frq_inv,frq_custo,frq_stock
0,17903,671,271,3.75,1273,29,1,7,4,6,134,20,373
1,18133,351,358,1.95,576,29,1,7,2,12,130,400,211
2,7539,1447,305,5.95,1984,29,1,2,5,3,162,340,361
3,7748,1372,134,0.83,2351,29,1,2,1,2,128,104,366
4,17835,248,156,1.65,1195,29,1,7,4,14,134,53,73

In [36]:
# def kfold(fold):
#     train_f=train2[train2['kfold']!=fold]
#     valid_f=train2[train2['kfold']==fold]
#     x_train=train_f.drop('UnitPrice',axis=1)
#     y_train=train_f['UnitPrice']
#     x_valid=valid_f.drop('UnitPrice',axis=1)
#     y_valid=valid_f['UnitPrice']
#     x_train.drop('kfold',axis=1,inplace=True)
#     x_valid.drop('kfold',axis=1,inplace=True)
#     return x_train,y_train,x_valid,y_valid
# # x_train,y_train,x_valid,y_valid=kfold(0)

In [37]:
# x_train,y_train,x_valid,y_valid=kfold(0)
# x_train.head()

In [38]:
data.Quantity.nunique()

436

In [39]:
x_train=train2.drop('UnitPrice',axis=1)
y_train=train2['UnitPrice']

In [40]:
# fold=0
# x_train,y_train,x_valid,y_valid=kfold(fold)

x_trn=[]
for feat in cat_col:
    x_trn.append(x_train[feat].values)
    
# x_vld=[]
# for feat in cat_col:
#     x_vld.append(x_valid[feat].values)
    
x_tst=[]
for feat in cat_col:
    x_tst.append(test2[feat].values)  
    
inp_size={}
emb_size={}
for feat in cat_col:
    inp_size[feat]=data[feat].nunique()
    
for feat in cat_col:
    emb_size[feat]=min(50,data[feat].nunique()//2)

In [41]:
emb_size

{'InvoiceNo': 50,
 'StockCode': 50,
 'Quantity': 50,
 'CustomerID': 50,
 'Country': 18,
 'year': 1,
 'months': 6,
 'day': 3,
 'hour': 7,
 'frq_inv': 50,
 'frq_custo': 50,
 'frq_stock': 50}

In [42]:
tensorboard_cb = keras.callbacks.TensorBoard(
    log_dir='tensorboard!',
    histogram_freq=1,
    write_graph=True,
    write_images=True
)
csv_logger = CSVLogger('history/loss!.csv', append=True, separator=',')

In [44]:
inputs = []
embeddings = []


for feat in cat_col:
    input1 = Input(shape=(1,))
    embedding = Embedding(inp_size[feat], emb_size[feat], input_length=1)(input1)
    embedding = Reshape(target_shape=(emb_size[feat],))(embedding)
    inputs.append(input1)
    embeddings.append(embedding)


x = Concatenate()(embeddings)
# x = Dense(1024, activation='relu')(x)
# x = Dropout(.35)(x)
x = Dense(512, activation='relu')(x)
x = Dropout(.35)(x)
x = Dense(256, activation='relu')(x)
x = Dropout(.15)(x)
x = Dense(128, activation='relu')(x)
x = Dropout(.15)(x)
x = Dense(128, activation='relu')(x)
x = Dropout(.15)(x)
x = Dense(64, activation='relu')(x)
x = Dropout(.15)(x)
x = Dense(16, activation='relu')(x)
x = Dropout(.15)(x)
output = Dense(1, activation='linear')(x)
model = Model(inputs, output)
# model = Model(inputs, output)


from keras import backend as K

# def root_mean_squared_error(y_true, y_pred):
#         return K.sqrt(K.mean(K.square(y_pred - y_true), axis=-1)) 

def root_mean_squared_error(y_true, y_pred):
        return K.sqrt(K.mean(K.square(y_pred - y_true)))




def lr_scheduler(epoch, lr):
        if (epoch+1)%5==0:
                return lr * 0.4
        return lr


callback = tf.keras.callbacks.LearningRateScheduler(lr_scheduler)



opt=keras.optimizers.Adam(lr=1e-3)


# opt=keras.optimizers.RMSprop(lr=4e-3,decay=0.95,momentum=0.9, epsilon=1e-8, name="RMSprop")

model.compile(loss = root_mean_squared_error,optimizer=opt , metrics=['mean_absolute_error'])
# model.compile(loss ='mean_absolute_error' ,optimizer='adam', metrics=['mean_absolute_error',root_mean_squared_error])
print(model.summary())



cp1= ModelCheckpoint(filepath="finalswap/save_best.h5", monitor='loss',save_best_only=True,verbose=1,mode='min',save_weights_only=True)
cp2= ModelCheckpoint(filepath='finalswap/save_all.h5', monitor='loss',save_best_only=False ,verbose=2,save_weights_only=True)

callbacks_list = [callback,cp1,cp2,csv_logger]






# model.fit(X_train,y_train, batch_size =1024, epochs = 1000, validation_split = 0.2,validation_data=(xval, yval))
# model.fit(x,y_train.values, batch_size =1024, epochs = 10,validation_data=(x_v,y_valid.values),shuffle=True,callbacks=[callbacks_list])
# model.fit(x_trn,y_train.values, batch_size =2048, epochs = 25 ,validation_data=(x_vld,y_valid.values))
model.fit(x_trn,y_train.values, batch_size =2048, epochs = 15,callbacks=callbacks_list)
model_json = model.to_json()
with open("model.json", "w") as json_file:
    json_file.write(model_json)
model.save_weights("model.h5")

Model: "model_2"
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
input_13 (InputLayer)           (None, 1)            0
__________________________________________________________________________________________________
input_14 (InputLayer)           (None, 1)            0
__________________________________________________________________________________________________
input_15 (InputLayer)           (None, 1)            0
__________________________________________________________________________________________________
input_16 (InputLayer)           (None, 1)            0
__________________________________________________________________________________________________
input_17 (InputLayer)           (None, 1)            0
__________________________________________________________________________________________________
input_18 (InputLayer)           (None, 1)            0
__________________________________________________________________________________________________
input_19 (InputLayer)           (None, 1)            0
__________________________________________________________________________________________________
input_20 (InputLayer)           (None, 1)            0
__________________________________________________________________________________________________
input_21 (InputLayer)           (None, 1)            0
__________________________________________________________________________________________________
input_22 (InputLayer)           (None, 1)            0
__________________________________________________________________________________________________
input_23 (InputLayer)           (None, 1)            0
__________________________________________________________________________________________________
input_24 (InputLayer)           (None, 1)            0
__________________________________________________________________________________________________
embedding_13 (Embedding)        (None, 1, 50)        1109400     input_13[0][0]
__________________________________________________________________________________________________
embedding_14 (Embedding)        (None, 1, 50)        195800      input_14[0][0]
__________________________________________________________________________________________________
embedding_15 (Embedding)        (None, 1, 50)        21800       input_15[0][0]
__________________________________________________________________________________________________
embedding_16 (Embedding)        (None, 1, 50)        218600      input_16[0][0]
__________________________________________________________________________________________________
embedding_17 (Embedding)        (None, 1, 18)        666         input_17[0][0]
__________________________________________________________________________________________________
embedding_18 (Embedding)        (None, 1, 1)         2           input_18[0][0]
__________________________________________________________________________________________________
embedding_19 (Embedding)        (None, 1, 6)         72          input_19[0][0]
__________________________________________________________________________________________________
embedding_20 (Embedding)        (None, 1, 3)         18          input_20[0][0]
__________________________________________________________________________________________________
embedding_21 (Embedding)        (None, 1, 7)         105         input_21[0][0]
__________________________________________________________________________________________________
embedding_22 (Embedding)        (None, 1, 50)        9950        input_22[0][0]
__________________________________________________________________________________________________
embedding_23 (Embedding)        (None, 1, 50)        23700       input_23[0][0]
__________________________________________________________________________________________________
embedding_24 (Embedding)        (None, 1, 50)        26750       input_24[0][0]
__________________________________________________________________________________________________
reshape_13 (Reshape)            (None, 50)           0           embedding_13[0][0]
__________________________________________________________________________________________________
reshape_14 (Reshape)            (None, 50)           0           embedding_14[0][0]
__________________________________________________________________________________________________
reshape_15 (Reshape)            (None, 50)           0           embedding_15[0][0]
__________________________________________________________________________________________________
reshape_16 (Reshape)            (None, 50)           0           embedding_16[0][0]
__________________________________________________________________________________________________
reshape_17 (Reshape)            (None, 18)           0           embedding_17[0][0]
__________________________________________________________________________________________________
reshape_18 (Reshape)            (None, 1)            0           embedding_18[0][0]
__________________________________________________________________________________________________
reshape_19 (Reshape)            (None, 6)            0           embedding_19[0][0]
__________________________________________________________________________________________________
reshape_20 (Reshape)            (None, 3)            0           embedding_20[0][0]
__________________________________________________________________________________________________
reshape_21 (Reshape)            (None, 7)            0           embedding_21[0][0]
__________________________________________________________________________________________________
reshape_22 (Reshape)            (None, 50)           0           embedding_22[0][0]
__________________________________________________________________________________________________
reshape_23 (Reshape)            (None, 50)           0           embedding_23[0][0]
__________________________________________________________________________________________________
reshape_24 (Reshape)            (None, 50)           0           embedding_24[0][0]
__________________________________________________________________________________________________
concatenate_2 (Concatenate)     (None, 385)          0           reshape_13[0][0]
                                                                 reshape_14[0][0]
                                                                 reshape_15[0][0]
                                                                 reshape_16[0][0]
                                                                 reshape_17[0][0]
                                                                 reshape_18[0][0]
                                                                 reshape_19[0][0]
                                                                 reshape_20[0][0]
                                                                 reshape_21[0][0]
                                                                 reshape_22[0][0]
                                                                 reshape_23[0][0]
                                                                 reshape_24[0][0]
__________________________________________________________________________________________________
dense_8 (Dense)                 (None, 512)          197632      concatenate_2[0][0]
__________________________________________________________________________________________________
dropout_7 (Dropout)             (None, 512)          0           dense_8[0][0]
__________________________________________________________________________________________________
dense_9 (Dense)                 (None, 256)          131328      dropout_7[0][0]
__________________________________________________________________________________________________
dropout_8 (Dropout)             (None, 256)          0           dense_9[0][0]
__________________________________________________________________________________________________
dense_10 (Dense)                (None, 128)          32896       dropout_8[0][0]
__________________________________________________________________________________________________
dropout_9 (Dropout)             (None, 128)          0           dense_10[0][0]
__________________________________________________________________________________________________
dense_11 (Dense)                (None, 128)          16512       dropout_9[0][0]
__________________________________________________________________________________________________
dropout_10 (Dropout)            (None, 128)          0           dense_11[0][0]
__________________________________________________________________________________________________
dense_12 (Dense)                (None, 64)           8256        dropout_10[0][0]
__________________________________________________________________________________________________
dropout_11 (Dropout)            (None, 64)           0           dense_12[0][0]
__________________________________________________________________________________________________
dense_13 (Dense)                (None, 16)           1040        dropout_11[0][0]
__________________________________________________________________________________________________
dropout_12 (Dropout)            (None, 16)           0           dense_13[0][0]
__________________________________________________________________________________________________
dense_14 (Dense)                (None, 1)            17          dropout_12[0][0]
==================================================================================================
Total params: 1,994,544
Trainable params: 1,994,544
Non-trainable params: 0
__________________________________________________________________________________________________
None

C:\Users\sKuma\anaconda3\envs\tf_4\lib\site-packages\tensorflow_core\python\framework\indexed_slices.py:424: UserWarning: Converting sparse IndexedSlices to a dense Tensor of unknown shape. This may consume a large amount of memory.
  "Converting sparse IndexedSlices to a dense Tensor of unknown shape. "

Epoch 1/15
284778/284778 [==============================] - 14s 49us/step - loss: 14.0890 - mean_absolute_error: 1.7326

Epoch 00001: loss improved from inf to 14.08904, saving model to finalswap/save_best.h5

Epoch 00001: saving model to finalswap/save_all.h5
Epoch 2/15
284778/284778 [==============================] - 13s 47us/step - loss: 12.2422 - mean_absolute_error: 1.3412

Epoch 00002: loss improved from 14.08904 to 12.24216, saving model to finalswap/save_best.h5

Epoch 00002: saving model to finalswap/save_all.h5
Epoch 3/15
284778/284778 [==============================] - 14s 49us/step - loss: 10.9623 - mean_absolute_error: 1.1632

Epoch 00003: loss improved from 12.24216 to 10.96233, saving model to finalswap/save_best.h5

Epoch 00003: saving model to finalswap/save_all.h5
Epoch 4/15
284778/284778 [==============================] - 14s 48us/step - loss: 8.9396 - mean_absolute_error: 0.9382

Epoch 00004: loss improved from 10.96233 to 8.93964, saving model to finalswap/save_best.h5

Epoch 00004: saving model to finalswap/save_all.h5
Epoch 5/15
284778/284778 [==============================] - 16s 54us/step - loss: 7.0501 - mean_absolute_error: 0.7968

Epoch 00005: loss improved from 8.93964 to 7.05008, saving model to finalswap/save_best.h5

Epoch 00005: saving model to finalswap/save_all.h5
Epoch 6/15
284778/284778 [==============================] - 14s 51us/step - loss: 6.0447 - mean_absolute_error: 0.7068

Epoch 00006: loss improved from 7.05008 to 6.04469, saving model to finalswap/save_best.h5

Epoch 00006: saving model to finalswap/save_all.h5
Epoch 7/15
284778/284778 [==============================] - 14s 50us/step - loss: 5.9076 - mean_absolute_error: 0.6742

Epoch 00007: loss improved from 6.04469 to 5.90759, saving model to finalswap/save_best.h5

Epoch 00007: saving model to finalswap/save_all.h5
Epoch 8/15
284778/284778 [==============================] - 14s 50us/step - loss: 5.1120 - mean_absolute_error: 0.6313

Epoch 00008: loss improved from 5.90759 to 5.11201, saving model to finalswap/save_best.h5

Epoch 00008: saving model to finalswap/save_all.h5
Epoch 9/15
284778/284778 [==============================] - 14s 49us/step - loss: 4.8660 - mean_absolute_error: 0.6078

Epoch 00009: loss improved from 5.11201 to 4.86602, saving model to finalswap/save_best.h5

Epoch 00009: saving model to finalswap/save_all.h5
Epoch 10/15
284778/284778 [==============================] - 14s 49us/step - loss: 4.2861 - mean_absolute_error: 0.5773

Epoch 00010: loss improved from 4.86602 to 4.28608, saving model to finalswap/save_best.h5

Epoch 00010: saving model to finalswap/save_all.h5
Epoch 11/15
284778/284778 [==============================] - 15s 51us/step - loss: 4.5122 - mean_absolute_error: 0.5687

Epoch 00011: loss did not improve from 4.28608

Epoch 00011: saving model to finalswap/save_all.h5
Epoch 12/15
284778/284778 [==============================] - 14s 50us/step - loss: 3.9808 - mean_absolute_error: 0.5559

Epoch 00012: loss improved from 4.28608 to 3.98083, saving model to finalswap/save_best.h5

Epoch 00012: saving model to finalswap/save_all.h5
Epoch 13/15
284778/284778 [==============================] - 15s 51us/step - loss: 4.3189 - mean_absolute_error: 0.5543

Epoch 00013: loss did not improve from 3.98083

Epoch 00013: saving model to finalswap/save_all.h5
Epoch 14/15
284778/284778 [==============================] - 14s 51us/step - loss: 3.7720 - mean_absolute_error: 0.5398

Epoch 00014: loss improved from 3.98083 to 3.77196, saving model to finalswap/save_best.h5

Epoch 00014: saving model to finalswap/save_all.h5
Epoch 15/15
284778/284778 [==============================] - 15s 51us/step - loss: 4.5378 - mean_absolute_error: 0.5509

Epoch 00015: loss did not improve from 3.77196

Epoch 00015: saving model to finalswap/save_all.h5

In [45]:
# sub=model.predict(x_tst)
model.predict(x_tst)

array([[2.824308 ],
       [2.0429697],
       [4.489755 ],
       ...,
       [2.2356255],
       [4.7979293],
       [5.009211 ]], dtype=float32)

In [151]:
sub=pd.Series(sub.reshape(1,-1)[0],name='UnitPrice')

In [ ]:
sub.var()

In [153]:
sub.to_csv('submission.csv',index=False)

In [130]:
json_file = open('model.json', 'r')
loaded_model_json = json_file.read()
json_file.close()
loaded_model = model_from_json(loaded_model_json)

In [132]:
loaded_model.load_weights('model.h5')
# loaded_model.load_weights('finalswap/save_best.h5')

In [133]:
loaded_model.predict(x_tst)

array([[2.0208805],
       [1.555449 ],
       [3.5218606],
       ...,
       [1.7743297],
       [3.4725018],
       [4.0853477]], dtype=float32)